extends ../template

block variables
  - var title = 'Вторая страница'

block content
  h1 Вторая страница
  +menu("nav", ["Первая страница", "Вторая страница"], ['./index.html', "./about.html"])
  .box
    img(src="assets/images/svetik.jpg" class="box__img")
