extends ../template

block variables
  - var title = 'Welcome'

block login 
  .login
    a.login__link(href="login.html") Авторизоваться
block main
  .main
    .avatar
      .avatar__box
        img(src="assets/images/ava.png" class="avatar__img" alt="avatar")
    .main__title
      h1.main__name Владимир Астахов
      .main__info Личный сайт веб разработчика
    .main__socials
      ul.icons
        li.icons__item
          a(href="#" class='icons__link')
            i.fa.fa-vk(aria-hidden='true')
        li.icons__item
          a(href="#" class='icons__link')
            i.fa.fa-github-alt(aria-hidden='true')
        li.icons__item
          a(href="#" class='icons__link')
            i.fa.fa-linkedin(aria-hidden='true')
  nav.nav
    ul.nav__list
      li.nav__item
        a(href="#").nav__link Мои работы
      li.nav__item
        a(href="#").nav__link Обо мне
      li.nav__item
        a(href="#").nav__link Блог


