.section-1 {
    min-height: 100vh;
    position: relative;
    height: auto;
    background-image: url("../images/bg_welcome.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-1__header {
    padding: 32px 32px 0 32px;
    display: flex;
    justify-content: space-between;
}

.icons__item + .icons__item {
    margin-left: 25px;
}

.menu-hamb__icon {
    fill: #fff;
    cursor: pointer;
}

.vk {
    width: 31px;
    height: 17px;
}

.github {
    width: 26px;
    height: 22px;
}

.in {
    width: 24px;
    height: 22px;
}

.icon {
    fill: #c1d6d6;
}

.icons__link:hover .icon {
    fill: #fff;
}

.section-1__middle {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.avatar__title--white {
    color: #fff;
}

.avatar__info--white {
    font-family: RobotoLight;
}


.section-1__bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    // position: relative;
    // padding-top: 137px;
}

.arrow__down {
    fill: #beced5;
    width: 26px;
    height: 16px;
    cursor: pointer;
}

.arrow:hover .arrow__down {
    fill: #fff;
    transform-origin: 50% 50%;
    transition: all 0.5;
}





.section-3 {
    height: 100vh;
    position: relative;
}


.map {

    height: 100%;
}

.section-3__contacts {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -8px;
    transform: translate(-50%, -50%);
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px 39px;
    max-width: 380px;
    width: 380px;
    height: 290px;
    background-color: rgba(252, 252, 252, 0.851);
    border-radius: 5px;
}

.contact__item {
    margin-top: 17px;
}

.contact__link, .contact__map {
    display: flex;
    align-items: center;
    color: #455a64;
}

.contact__box {
    margin-right: 10px;
}

.contact__icon {
    fill: #00bea4;
}




.section-4 {
    margin-top: -137px;
}

.section-4__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.socials-footer {
    display: flex;
    justify-content: space-between;   
}

.socials-footer__item {
    cursor: pointer;
}

.socials-footer__item + .socials-footer__item {
    margin-left: 10px;
}

.socials-footer__icon {
    stroke-width: 1px;
    fill-opacity: 0.5;
}
.socials-footer__icon--hover {
    opacity: 0;
    fill: #fff;
    transform-origin: 50% 50%;
    transition: all 0.5s;
}
.socials-footer__link:hover .socials-footer__icon--hover {
    opacity: 1;
}

.nav-footer__link {
    display: inline-block;
    padding: 30px 20px;
    color: #fff;
    cursor: pointer;
}

.nav-footer__link:first-child {
    padding-left: 0;
}

.nav-footer__list {
    display: flex;
    justify-content: space-between;
}

.section-4__top {
    background-color: rgb(55, 62, 66);
    opacity: 0.851;
}

.section-4__bottom {
    border-top: 1px solid #646a6d;
    padding: 0 35px;
    height: 73px;
    align-items: center;
    background-color: rgb(55, 62, 66);
    opacity: 0.851;
    color: #fff;
    display: flex;
    justify-content: space-between; 
}

.section-4__info {
    max-width: 500px;
    font-family: RobotoLight;
}






.section-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
    position: relative;
}

.section-2__left {
    display: flex;
    justify-content: space-between;
    vertical-align: top;
    width: 50%;
}

.section-2__right {
    width: 50%;
    padding-left: 42px;
    padding-right: 65px;
}

.section-2__title {
    text-align: center;
    margin: 0 auto;
}

.section-2__info {
    width: 443px;
}

.title--big {
    font-size: 63px;
    color: #373e42;
    line-height: 63px;
}
.section-2__image {
    display: block;
    margin: 0 auto;
}

.section-2__text {
    margin-top: 40px;
    text-align: center;
}

.section-2__myInfo {
    text-align: left;
    padding-top: 30px;
    font-family: RobotoRegular;
}

.section-2__myInfo > p {
    margin-bottom: 25px;
}

.title--noline:after, .title--noline:before {
    display: none;
}

.skills__title {
    font-size: 28px;
}

.skills__list {
    display: flex;
    justify-content: flex-start;
}

.skills__item {
    position: relative;
    margin-bottom: 20px;
}

.skill__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00bfa5;
    font-size: 12px;
    text-align: center;
}


.bottom {
    display: flex;
    justify-content: center;
    font-size: 0;
    position: absolute;
    z-index: -1;
}

.bottom__bg--left, .bottom__bg--right  {
    font-size: 12px;
}

.bottom__bg--left {
    left: 0;
}

.bottom__bg--right {
    right: 0;
    left: 0;
}

.bottom__left {
    fill: #efeee9;
}

.bottom__right {
    width: 400px;
    fill: #eeebdf;
}

.title-about {
    position: relative;
}

.title-about--bg {
    position: absolute;
    top: -50%;
    left: -50%;
}












