mixin menu(className, items, hrefs)
    nav(class=`${className}`)
        ul(class=`${className}__list`)
             -for (var i=0; i<hrefs.length; i++)
                li(class=`${className}__item`)
                    a(class=`${className}__link` href=`${hrefs[i]}`)= items[i]